/* Custom Stylesheet */

/*Butoane + footer
-----------
------------
MOBI*/
.container {
  position: relative; }

.mbr-section {
  position: relative;
  padding-top: 120px;
  padding-bottom: 120px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover; }

.mbr-section-full {
  display: table;
  height: 100vh;
  padding-bottom: 0;
  padding-top: 0;
  table-layout: fixed;
  width: 100%; }
  .mbr-section-full > .mbr-table-cell {
    width: 100%; }

.mbr-section-small {
  padding-top: 60px;
  padding-bottom: 60px; }

.mbr-section-title {
  margin-top: 0; }

.mbr-section__container--first {
  padding-top: 120px;
  padding-bottom: 40px; }

.mbr-section__container--middle {
  padding-top: 0;
  padding-bottom: 40px; }

.mbr-section__container--last {
  padding-top: 0;
  padding-bottom: 120px; }

.mbr-section-sm-padding {
  padding-top: 40px;
  padding-bottom: 40px; }

.mbr-section-md-padding {
  padding-top: 90px;
  padding-bottom: 90px; }

.mbr-section-nopadding {
  padding-top: 0;
  padding-bottom: 0; }

.mbr-section-subtitle {
  display: block;
  font-style: italic;
  font-weight: 400;
  font-size: 17px;
  font-family: "Lora";
  line-height: 26px;
  color: #8c8c8c;
  margin-bottom: 30px; }

.mbr-section-title + .mbr-section-subtitle {
  margin-top: -21px; }

.mbr-section-hero::before {
  display: none !important; }
.mbr-section-hero .mbr-section-title {
  color: #fff;
  margin-bottom: 1.6875rem; }
.mbr-section-hero .mbr-section-lead {
  color: #fff;
  font-family: Lora;
  font-size: 1.5rem;
  font-style: italic;
  margin-top: -1em; }
.mbr-section-hero .mbr-section-text {
  color: #fff; }

@media (max-width: 767px) {
  .mbr-section {
    padding-top: 60px;
    padding-bottom: 60px; }

  .mbr-section-full {
    padding-bottom: 0;
    padding-top: 0; }

  .mbr-section__container--first {
    padding-top: 60px;
    padding-bottom: 40px; }

  .mbr-section__container--middle {
    padding-top: 0;
    padding-bottom: 40px; }

  .mbr-section__container--last {
    padding-top: 0;
    padding-bottom: 60px; }

  .mbr-section-sm-padding {
    padding-top: 40px;
    padding-bottom: 40px; }

  .mbr-section-md-padding {
    padding-top: 60px;
    padding-bottom: 60px; }

  .mbr-section-nopadding {
    padding-top: 0;
    padding-bottom: 0; }

  .mbr-section-subtitle {
    margin-bottom: 0; }

  .mbr-section-hero.mbr-after-navbar .mbr-section {
    padding-top: 120px; }
  .mbr-section-hero.mbr-section-with-arrow .mbr-section {
    padding-bottom: 120px; }
  .mbr-section-hero .mbr-section-title {
    font-size: 3.125rem !important; }
  .mbr-section-hero .mbr-section-lead {
    font-size: 1.125rem !important; }
  .mbr-section-hero .mbr-section-btn .btn {
    font-size: 0.75rem !important;
    line-height: 1.5;
    padding: 0.75rem 2.1875rem; } }
.mbr-section-full .mbr-overlay {
  min-height: 100vh; }

.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1; }
  .mbr-overlay ~ * {
    z-index: 2; }

.mbr-section-full .mbr-background-video,
.mbr-section-full .mbr-background-video-preview {
  min-height: 100vh; }

.mbr-background-video,
.mbr-background-video-preview {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0; }

.mbr-background-video-preview {
  z-index: 0 !important; }

.mbr-table {
  display: table;
  width: 100%; }

.mbr-table-full {
  height: 100%;
  position: relative;
  width: 100%; }

.mbr-table-cell {
  display: table-cell;
  float: none;
  padding-bottom: 0;
  padding-top: 0;
  position: relative;
  vertical-align: middle; }

.mbr-table-md-up {
  width: 100%; }
  .mbr-table-md-up .mbr-table-cell {
    display: block; }
  .mbr-table-md-up .mbr-table-cell + .mbr-table-cell {
    padding-top: 40px; }
  @media (min-width: 768px) {
    .mbr-table-md-up {
      display: table; }
      .mbr-table-md-up .mbr-table-cell {
        display: table-cell; }
      .mbr-table-md-up .mbr-table-cell + .mbr-table-cell {
        padding-top: 0; } }

.mbr-figure {
  display: block;
  margin: 0;
  overflow: hidden;
  position: relative;
  width: 100%; }
  .mbr-figure img, .mbr-figure iframe {
    display: block;
    width: 100%; }
  .mbr-figure .mbr-figure-caption {
    background: #2e2e2e;
    color: #fff;
    font-family: Montserrat;
    padding: 1.5rem 0;
    text-align: center;
    width: 100%; }
  .mbr-figure .mbr-figure-caption-over {
    background: -moz-linear-gradient(left, rgba(67, 76, 99, 0.85), rgba(188, 155, 114, 0.85)) !important;
    background: -ms-linear-gradient(left, rgba(67, 76, 99, 0.85), rgba(188, 155, 114, 0.85)) !important;
    background: -o-linear-gradient(left, rgba(67, 76, 99, 0.85), rgba(188, 155, 114, 0.85)) !important;
    background: -webkit-linear-gradient(left, rgba(67, 76, 99, 0.85), rgba(188, 155, 114, 0.85)) !important;
    background: linear-gradient(left, rgba(67, 76, 99, 0.85), rgba(188, 155, 114, 0.85)) !important;
    bottom: 0;
    position: absolute; }

.mbr-map {
  height: 25rem;
  position: relative; }
  .mbr-map iframe {
    height: 100%;
    width: 100%; }
  .mbr-map [data-state-details] {
    color: #6b6763;
    font-family: Montserrat;
    height: 1.5em;
    margin-top: -0.75em;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%; }
  .mbr-map[data-state] {
    background: #e9e5dc; }
  .mbr-map[data-state="loading"] [data-state-details] {
    display: none; }
  .mbr-map[data-state="loading"]::after {
    content: "";
    -webkit-animation: btnCircleLoading .6s infinite linear;
    animation: btnCircleLoading .6s infinite linear;
    border-radius: 50%;
    border: 6px rgba(255, 255, 255, 0.35) solid;
    border-top-color: #fff;
    height: 40px;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
    position: absolute;
    top: 50%;
    width: 40px; }




/*-------

   Small footer

-------*/
.mbr-small-footer {
  background: #323232;
  color: #acacac;
  font-size: 0.8125rem;
  padding: 1.75rem 0; }
  .mbr-small-footer p {
    margin-bottom: 0; }

.mbr-small-footer a {
  color: #c0a375; }
  .mbr-small-footer a:hover {
    text-decoration: none; }

/*-------

   Footer

-------*/
.mbr-footer {
  color: #fff;
  padding-left: 1.25rem;
  padding-right: 1.25rem; }
  @media (min-width: 1280px) {
    .mbr-footer {
      padding-left: 6.25rem;
      padding-right: 6.25rem; } }
  .mbr-footer > .row, .mbr-footer > .container > .row {
    margin-left: 0;
    margin-right: 0; }
    .mbr-footer > .row > div, .mbr-footer > .container > .row > div {
      padding-bottom: 40px; }
      .mbr-footer > .row > div:last-child, .mbr-footer > .container > .row > div:last-child {
        padding-bottom: 0; }
  .mbr-footer > .container {
    padding-left: 0;
    padding-right: 0; }
  @media (min-width: 768px) {
    .mbr-footer > .row > div:nth-child(2n+1) {
      clear: left; }
    .mbr-footer > .row > div:nth-last-child(-1n+2) {
      padding-bottom: 0; }
    .mbr-footer > .container > .row > div {
      clear: none !important;
      padding-bottom: 0 !important; } }
  @media (min-width: 992px) {
    .mbr-footer > .row > div {
      clear: none !important;
      padding-bottom: 0 !important; } }
  .mbr-footer p a,
  .mbr-footer ul a {
    color: #fff; }
    .mbr-footer p a:hover, .mbr-footer ul a:hover {
      text-decoration: none; }
  .mbr-footer .btn-black {
    background-color: #242424;
    border-color: #242424; }
    .mbr-footer .btn-black.disabled, .mbr-footer .btn-black[disabled], .mbr-footer .btn-black:hover {
      background-color: #1a1a1a !important;
      border-color: #1a1a1a !important; }
  .mbr-footer .mbr-map {
    height: 18.75rem; }
  .mbr-footer form .form-control-label {
    font-size: 0.875rem;
    position: relative; }
  .mbr-footer form .form-control {
    background: none;
    border-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 0.875rem;
    min-height: 3.2em;
    padding: 0.5em 1em 0.5em; }

.mbr-footer-content h1, .mbr-footer-content h2, .mbr-footer-content h3, .mbr-footer-content h4,
.mbr-footer-content p strong, .mbr-footer-content strong, .mbr-footer .mbr-contacts h1, .mbr-footer .mbr-contacts h2, .mbr-footer .mbr-contacts h3, .mbr-footer .mbr-contacts h4,
.mbr-footer .mbr-contacts p strong, .mbr-footer .mbr-contacts strong {
  /*color: #7c7c7c;*/
  font-family: "Montserrat";
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 1.3;
  margin-bottom: 1.875em; }
.mbr-footer-content p strong, .mbr-footer-content strong, .mbr-footer .mbr-contacts p strong, .mbr-footer .mbr-contacts strong {
  display: inline-block; }
.mbr-footer-content p, .mbr-footer .mbr-contacts p {
  color: #fff;
  font-size: 0.875rem;
  margin-bottom: 0; }
.mbr-footer-content ul, .mbr-footer .mbr-contacts ul {
  line-height: 1.8;
  list-style: none;
  margin: 0;
  padding: 0; }
.mbr-footer-content li, .mbr-footer .mbr-contacts li {
  border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
  color: #bcbcbc;
  display: block;
  font-family: "Raleway";
  font-size: 0.875rem;
  line-height: 1.8;
  overflow: hidden;
  padding: 0.72em 0;
  padding-left: 1.8em;
  position: relative;
  width: 100%; }
  .mbr-footer-content li:last-child, .mbr-footer .mbr-contacts li:last-child {
    border-bottom: 0; }
  .mbr-footer-content li::before, .mbr-footer .mbr-contacts li::before {
    background: #c0a375;
    content: "";
    height: 0.36em;
    left: 0;
    margin-top: -0.18em;
    position: absolute;
    top: 50%;
    width: 0.36em; }
  .mbr-footer-content li a, .mbr-footer .mbr-contacts li a {
    color: #fff;
    -webkit-transition: color .3s ease;
    -moz-transition: color .3s ease;
    transition: color .3s ease; }
    .mbr-footer-content li a:hover, .mbr-footer .mbr-contacts li a:hover {
      color: #c0a375; }

.footer1 ul {
  margin-top: -13px; }

.footer4 > .container > .row {
  margin-left: 0;
  margin-right: 0; }
  .footer4 > .container > .row > div > .row > div:first-child {
    padding-bottom: 40px; }
    .footer4 > .container > .row > div > .row > div:first-child:last-child {
      padding-bottom: 0; }
@media (min-width: 544px) {
  .footer4 > .container > .row > div, .footer4 > .container > .row > div > .row > div {
    clear: none !important;
    padding-bottom: 0 !important; } }


/*-------

   Arrow

-------*/
@-webkit-keyframes floating-arrow {
  from {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); }
  65% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px); }
  to {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); } }
@keyframes floating-arrow {
  from {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); }
  65% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px); }
  to {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); } }
@-webkit-keyframes floating-arrow-up {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  25% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px); }
  75% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); } }
@keyframes floating-arrow-up {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  25% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px); }
  75% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); } }
.mbr-arrow {
  bottom: 80px;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%; }
  @media (max-width: 991px) {
    .mbr-arrow {
      bottom: 31px; } }
  @media (max-width: 320px) {
    .mbr-arrow {
      bottom: 21px; } }
  @media all and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .mbr-arrow {
      bottom: 31px; } }

  /*.mbr-arrow a {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    height: 46px;
    outline-style: none !important;
    position: relative;
    text-decoration: none;
    transition: all .3s ease-in-out;
    width: 46px; }*/
  .mbr-arrow a {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    height: 40px;
    outline-style: none !important;
    position: relative;
    text-decoration: none;
    transition: all .3s ease-in-out;
    width: 100px;
  }
    .mbr-arrow a:hover {
      background: #2d2d2d; }
  .mbr-arrow-icon {
    display: block; }
    .mbr-arrow-icon::before {
      content: "\203a";
      display: inline-block;
      /*font-family: serif;*/
      font-size: 32px;
      line-height: 0.5;
      font-style: normal;
      left: 4px;
      position: relative;
      top: 0;
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg); }
  .mbr-arrow-floating .mbr-arrow-icon {
    -webkit-animation: floating-arrow 1.6s infinite ease-in-out 0s;
    animation: floating-arrow 1.6s infinite ease-in-out 0s; }

.mbr-arrow-up {
  bottom: 25px;
  right: 90px;
  position: fixed;
  text-align: right;
  z-index: 5000; }
  @media (max-width: 991px) {
    .mbr-arrow-up {
      bottom: 31px; } }
  @media (max-width: 320px) {
    .mbr-arrow-up {
      bottom: 21px; } }
  @media all and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .mbr-arrow-up {
      bottom: 31px; } }
  .mbr-arrow-up a {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    height: 46px;
    outline-style: none !important;
    position: relative;
    text-decoration: none;
    transition: all .3s ease-in-out;
    width: 46px;
    cursor: pointer; }
    .mbr-arrow-up a:hover {
      background: #2d2d2d; }
  .mbr-arrow-up-icon {
    display: block; }
    .mbr-arrow-up-icon::before {
      content: "\203a";
      display: inline-block;
      font-family: serif;
      font-size: 32px;
      line-height: 1;
      font-style: normal;
      position: relative;
      top: 6px;
      left: -4px;
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg); }
  .mbr-arrow-up:hover .mbr-arrow-up-icon {
    -webkit-animation: floating-arrow-up 1.6s ease-in-out infinite 0s;
    animation: floating-arrow-up 1.6s ease-in-out infinite 0s; }

@media (max-width: 768px) {
  .mbr-arrow-up {
    right: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
    bottom: 15px; } }
@media (min-width: 768px) {
  .mbr-right-padding-md-up {
    padding-right: 85px; } }

.mbr-valign-top {
  vertical-align: top; }

.form-asterisk {
  font-family: initial;
  position: absolute;
  top: -2px;
  font-weight: normal; }

.row-sm-offset {
  margin-left: -0.625rem;
  margin-right: -0.625rem; }
  .row-sm-offset > * {
    padding-left: 0.625rem;
    padding-right: 0.625rem; }

@-webkit-keyframes btnCircleLoading {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg); } }
@keyframes btnCircleLoading {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }
.btn-loader {
  -webkit-animation: btnCircleLoading .6s infinite linear;
  animation: btnCircleLoading .6s infinite linear;
  border-radius: 50%;
  border: 4px rgba(255, 255, 255, 0.25) solid;
  border-top-color: white;
  display: none;
  height: 26px;
  left: 50%;
  margin-left: -13px;
  margin-top: -13px;
  position: absolute;
  top: 50%;
  width: 26px; }

.btn-loading {
  position: relative; }
  .btn-loading .btn-text {
    visibility: hidden; }
  .btn-loading .btn-loader {
    display: block; }

.hidden {
  visibility: hidden; }

.visible {
  visibility: visible; }


.engine {
	position: absolute;
	text-indent: -2400px;
	text-align: center;
	padding: 0;
}


/*Butoane +

 footer*/

 /*
 Verde deschis: #69963F
 Verde inchis: #4A6629

 */


.icon-block {
    padding: 0 15px;
}

body {
	margin: 0;
}
#nav_f {
	position:fixed;
	top:0;
	width:100%;
	background-color: #fff;
  height: auto;
}

#intro, #gallery, #team, #testimonials, #partners {
  padding-top: 4rem;
  padding-bottom: 3.5rem;
}

#intro {
  background-color: #f5f5f5;
}

/*.side-nav {
    background-color: transparent;
    z-index: 9;
    will-change: opacity;
}*/
nav .button-collapse i {
    color: #69963F;
}
.text_h {
    padding: 15% 0;
    font-size: 6.0em;
    font-weight: 100;
    color:white;
}

.brand-logo{
    line-height: 80px;
}
.brand-logo img {
  width: 160px;
  margin-top: 5px;
}


/*#lang-button-eng:hover,
#lang-button-eng:active,
#lang-button-eng:focus,
#lang-button-eng:visited {
    opacity: 1;
}*/
/*.right .helloEN,
.right .helloRO {
  opacity: 0.7;
}
.right .helloEN:active,
.right .helloRO:active {
  opacity: 1;
}*/



.text_h2 {font-weight: 100;margin-bottom: 4%; line-height: 4.5rem;}

.span_h2 {font-weight: 300;color: #2196F3;}

.text_b{color: #4A6629;}

.in{font-weight: 400 !important; font-style: normal !important;}

.promo i {
    color: #2196F3;
    font-size: 7rem;
    display: block;
}
.card-content a {color: #2196F3;}

.card-content a:hover {color: #2196F3;}

#gallery, #team{
  /*background: rgb(247, 247, 247);*/
}

.text_pink{color:#EF9A9A;}


#testimonials {
  background-color: #f5f5f5;
  padding-bottom: 100px;*/
  height: 500px;
}


/*team section*/
/*meet the team*/
.at-section__title {
  margin: 0 0 40px;
  color: #4A6629;
  font-family: 'Roboto', sans-serif;
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 2.625rem;
  text-align: center;
}

.at-column {
  z-index: 0;
  position: relative;
  background: #FFF;
  box-shadow: 0 0 0 1px #E2E9ED;
  padding: 10px;
  box-sizing: border-box;
  -webkit-transition: box-shadow 0.2s ease, z-index 0s 0.2s ease, -webkit-transform 0.2s ease;
  transition: box-shadow 0.2s ease, z-index 0s 0.2s ease, -webkit-transform 0.2s ease;
  transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0.2s ease;
  transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0.2s ease, -webkit-transform 0.2s ease;
}
.at-column:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.at-column:hover {
  z-index: 1;
  box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: box-shadow 0.2s ease, z-index 0s 0s ease, -webkit-transform 0.2s ease;
  transition: box-shadow 0.2s ease, z-index 0s 0s ease, -webkit-transform 0.2s ease;
  transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease;
  transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease, -webkit-transform 0.2s ease;
}
.at-column:hover .at-social {
  margin: 16px 0 0;
  opacity: 1;
}

.at-user {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  text-align: center;
}
.at-user__avatar {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  margin: 0 auto 20px;
  overflow: hidden;
}
.at-user__avatar img {
  display: block;
  width: 100%;
  max-width: 100%;
}
.at-user__name {
  color: #313435;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.625rem;
}
.at-user__title {
  color: #6F808A;
  font-family: 'Roboto', sans-serif;
  font-size: 1.15rem;
  line-height: 2.375rem;
}
.at-social {
  margin: 0 0 -18px;
  opacity: 0;
  -webkit-transition: margin 0.2s ease, opacity 0.2s ease;
  transition: margin 0.2s ease, opacity 0.2s ease;
}
.at-social__item {
  display: inline-block;
  margin: 0 10px;

}
.at-social__item a {
  display: block;
  color: #69963F;
}
.at-social__item i {
  fill: #515F65;
  display: block;
  height: 18px;
  -webkit-transition: fill 0.2s ease;
  transition: fill 0.2s ease;
}
.at-social__item svg:hover {
  fill: #788D96;
}




@media (max-width: 1280px) {
  .at-user__avatar {
    width: 110px;
    height: 110px;
    border-radius: 100%;
    margin: 4px auto 10px;
    overflow: hidden;
  }
  .at-user__title {
    font-size: 1.15rem;
    line-height: 0.175rem;
  }
  .at-user__name {
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 2.625rem;
  }
}





@media (max-width: 800px) {
  .at-column {
    width: 50% !important;
    max-width: 50% !important;
    min-width: 50% !important;
    -webkit-flex-basis: 50% !important;
        -ms-flex-preferred-size: 50% !important;
            flex-basis: 50% !important;
        box-sizing: none;
        border: none;
  }
  .at-user__avatar {
    width: 100px;
    height: 100px;
  }
}
/*resize team  */
@media (max-width: 600px) {
  .at-column {
    width: 50% !important;
    max-width: 50% !important;
    min-width: 50% !important;
    -webkit-flex-basis: 50% !important;
        -ms-flex-preferred-size: 50% !important;
            flex-basis: 50% !important;
    box-sizing: none;
    border: none;
  }
  .at-user__avatar {
    width: 80px;
    height: 80px;
  }
  .at-user__title {
    font-size: 0.85rem;
    line-height: 0.175rem;
  }
  .at-user__name {
      font-size: 1.1rem;
      font-weight: 450;
      line-height: 2.625rem;
  }

}
@media (max-width: 480px) {

  .at-user__avatar {
    width: 65px;
    height: 65px;
  }
  /*.at-user__title {
    font-size: 0.85rem;
    line-height: 0.175rem;
  }
  .at-user__name {
      font-size: 1.1rem;
      font-weight: 450;
      line-height: 2.625rem;
  }*/

}


/* Meet the team
Hello
*/

@media only screen and (max-width: 480px) {
    .text_h {
        padding: 4% 0;
        font-size: 5em;
        font-weight: 100;
        color: white;
    }
}

input, textarea {
    border-bottom: 1px solid #fff;
}

nav a.button-collapse {
    left: -25px;
}

.card-avatar .waves-effect {
    text-align: center;
    margin-top: 20px;
}

.card-avatar img {
    height: 150px;
    width: 150px;
    border-radius: 75px;
}

.card-avatar .card-content {
    text-align: center;
}

#uni-card{
    height: 350px;
}
/*
#uni-card:hover {
    	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}*/
/*.uni-col {
  width: 25.33333% !important;
}*/

#uni-title {
    line-height: 20px;
    font-size: 15px;

}
.card-content p {
    font-size: 14px;
}
.uni-span {
  font-size: 16px !important;
}
.uni-info {
  font-size: 12px;
}
.university-details {
  font-size: 13px;
}
.university-details span {
  font-weight: 800;
}


.card .card-content p {
    /*margin: 15px 0px;*/
}

.card-avatar .card-content i {
   font-size: 1.5rem;
}

.card-avatar .card-content .card-title {
    line-height: 30px !important;
}

.parallax-container {
    max-height: 400px;
}

footer.page-footer {
    margin-top: 0px !important;
    /*background-color: #69963F;*/
    background-color: #66bb6a; /*non ebec but cool */
}

/*Custom CSS
+++++++++++++++++++++
+++++++++++++++++++++
+++++++++++++++++++++
*/




/*video background properties */
/*body {
	margin: 0;
	padding: 0;
  height:100%;

}*/



/*.navbar-user {
  z-index: 99;
}*/

#about-section {
    background-color: transparent;
    font-size: 18px;
    letter-spacing: 2px;
    margin-bottom: 25px;

  }

#about-section a {
    color: #69963F;
  }
#about-section li a:hover,
#about-section li a:active,
#about-section li a:focus {
    color: #4A6629;
  }

/*tabs */
#about-section .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #4A6629;
    /*background-color: transparent;*/
    will-change: left, right;
    /*width: 50%;*/
}
/*.tab-link {
  background-color: #959595;
}*/

.tab-link:active,
.tab-link:focus {
    background-color: #dcdcdc;
}
.tab-link:hover {
    background-color: #dcdcdc;
}




#intro {
    display:block;
    width: 100%;
    /*height: 800px;
    max-height: 1080px;*/
    background-color: #f5f5f5;
}
/*#gallery {

    width:1200px;
    height:400px;
    padding-top: 40px;
    margin: 0 auto;
    background-color: #fff;
}*/



/* Google Maps */
#map_container {
	position: relative;
	padding-top: 50%;
  width: 80%;
  margin: 0 auto;
}
#map {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
}

/*testimonials*/
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
figure.snip1139 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  /*margin: 10px 1%;*/
  min-width: 220px;
  max-width: 310px;
  max-height: 401px;
  min-height: 399px;
  width: 100%;
  color: #333;
  text-align: left;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  /*border-radius: 8px;*/
}


figure.snip1139 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}
figure.snip1139 img {
  max-width: 100%;
  vertical-align: middle;
}
/*figure.snip1139 blockquote {
  position: relative;
  background-color: #ffffff;
  padding: 25px 50px 25px 50px;
  font-size: 0.78em;
  font-weight: 500;
  text-align: left;
  margin: 0;
  line-height: 1.6em;
  font-style: italic;
}*/

figure.snip1139 blockquote {
position: relative;
background-color: #ffffff;
padding: 23px 50px 40px 45px;
font-size: 0.71em;
font-weight: 500;
text-align: left;
margin: 0;
 line-height: 1.6em;
font-style: italic;
}



figure.snip1139 blockquote:before,
figure.snip1139 blockquote:after {
  font-family: 'FontAwesome';
  content: "\201C";
  position: absolute;
  font-size: 50px;
  opacity: 0.3;
  font-style: normal;
}
figure.snip1139 blockquote:before {
  top: 25px;
  left: 20px;
}
figure.snip1139 blockquote:after {
  content: "\201D";
  right: 20px;
  bottom: 0;
}
figure.snip1139 .arrow {
  top: 100%;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid #ffffff;
  margin: 0;
  position: absolute;
}
figure.snip1139 .author {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 5px 25px;
  color: #000000;
  background-color: #ffffff;
  margin: 0;
  text-transform: uppercase;
}
figure.snip1139 .author h5 {
  opacity: 0.8;
  margin: 0;
  font-weight: 900;
  font-size: 12px;
}
figure.snip1139 .author h5 span {
  font-weight: 400;
  text-transform: none;
  padding-left: 5px;
}
.testimonial-quote {
  border-left: none;
}


/*.snip1139:hover {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}*/

/*gallery stuff below============
========================================== */

.gallery-pics {
  height: 100%;
  width: 100%;
  margin-top: 14px;
  /*opacity: 0.95;*/
  -webkit-filter: brightness(95%);
          filter: brightness(95%);
  -webkit-tap-highlight-color: transparent;
  will-change: opacity, transform;
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.gallery-pics:hover {
  /*opacity: 0.8;*/
  /*-webkit-box-shadow: 0px 0px 28px -5px rgba(18,18,18,1);
  -moz-box-shadow: 0px 0px 28px -5px rgba(18,18,18,1);
  box-shadow: 0px 0px 28px -5px rgba(18,18,18,1);*/
  -webkit-filter: brightness(120%);
        filter: brightness(120%);
}


.gallery-city {
  font-size: 20px;
  margin-top: 10px;
  /*padding-top: 10px;*/
}
/*gallery stuff above============
========================================== */


/* Partners */
#partners {
  background-color: #f5f5f5;
  /*height: auto;*/
  padding-bottom: 50px;
  padding-top: 15px;
  /*color: orange;*/
}
.partners-pics {
  height: 100%;
  width: 100%;
  margin-top: 14px;
  background-color: #fff !important;
    opacity: 0.6;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  filter: gray; -webkit-transition: all .6s ease;

}
.partners-pics:hover {
  opacity: 1;
  filter: grayscale(0); -webkit-filter: grayscale(0);
  filter: gray; -webkit-transition: all .6s ease;

}

.sponsors-title {
  margin-top: 20px;
  font-size: 2.125em;
  font-family: 'Roboto', sans-serif;
}





/* Media Queries */



@media only screen and (min-width: 601px){

nav, nav .nav-wrapper i,
nav a.button-collapse,
nav a.button-collapse i {
    height: 64px;
    line-height: 64px;
    }
#logo-container{
    height: 64px;
    line-height: 64px;
}
.brand-logo img {
    margin-top: 7px;
  }
  .partners-pics {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    opacity: 1;
  }
.ebec-icons {
  opacity: 1;
}
}

@media only screen and (min-width: 320px){

nav, nav .nav-wrapper i,
nav a.button-collapse,
nav a.button-collapse i {
    height: 64px;
    line-height: 64px;
    left: 0px;
    }
#logo-container{
    /*height: 64px;*/
    line-height: 66px;
}
.brand-logo {
  margin-left: 0;
}
.brand-logo img {
    /*width: 140px;
    margin-top: 4px;*/
  }
  .ebec-icons {
    opacity: 1;
  }
  .at-section__title {
    margin: 0 0 20px;
    padding-top: 10px;
    font-size: 2.2rem;
}
  #partners {
    padding-top: 10px;
padding-bottom: 15px;
  }
  .partners-pics {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
        opacity: 1;
  }
  #about-section a {
    font-size: 13px;
}
  .brand-logo img {
    width: 138px;
    margin-top: 4px;
}
.mob-switch {
  padding-top: 20px;
}
#intro {
  margin-top: -45px;
}
figure.snip1139 {
  /*min-width: 220px;*/
  max-width: 80%;
  width: 100%;

}

/* mobile tabs */
.tab-link {
  /*width: 40px !important;
  min-width: 76px !important;*/
  text-transform: capitalize !important;
  /*text-overflow: ellipsis;*/
  overflow: hidden;
  letter-spacing: .5px !important;
}





}

@media screen and (min-width:991px) and (max-width:1280px){
  .right, .hide-on-med-and-down {
      visibility: collapse;
      display: none !important;
  }
  nav a.button-collapse {
      display: inline;
}
  /*.brand-logo img{
      width: 140px;
      margin-top: 4px;
  }*/
  .brand-logo {
    margin-left: 50%;
  }


}
@media screen and (min-width:1280px){
    .brand-logo img {
      width: 165px;
      margin-top: 5px;
    }
    .team-container {
      height: auto;

    }
    .at-section__title {
      margin: 0 0 20px;
      padding-top: 10px;
      font-size: 2.8rem;
  }
    #partners {
      margin-top: 2.5rem;
      padding-bottom: 2.5rem;
      padding-top: 2.5rem;
    }

    #about-section a {
      font-size: 20px;
  }
  .partners-pics {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
  }
#intro {
  margin-top: -70px;
}

}
.ebec-icons {
  /*width: 80%;*/
  opacity: 0.65;
  margin-bottom: 10px;
}

.ebec-icons:hover {
  opacity: 1;
}


.uni-picture {
  max-height: 78% !important;
}
/*#intro {
  margin-top: -75px;
}*/


/*
=======================================================
Implement other stuff here

========================================================
*/
.testimonial-list {
  max-width: 1145px;
}

#contest-modal {
  height: auto !important;
  width: 40%;
  opacity: 0.5;
  border: none;
}


/**** BTN No. 3 ****/


/* ------------

Footer
*/


.more-pics {
  height: 100%;
  width: 100%;
  margin-top: 14px;
  background-color: #fff !important;
    opacity: 0.6;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  filter: gray; -webkit-transition: all .6s ease;

}
.more-pics:hover {
  opacity: 1;
  filter: grayscale(0); -webkit-filter: grayscale(0);
  filter: gray; -webkit-transition: all .6s ease;

}



.contest-container {
  /*width: 380px;*/
  /*height: 500px;*/
  /*margin: 0;*/
  padding-bottom: 50px;
  padding-top: 0;
  margin-top: 50px;
}

.contest-box {
  width: 300px;
  height: 600px;
    margin-top: 50px;
}

#contest-badge {
min-width: 2.7rem;
height: 23px;
font-size: 0.8rem;
line-height: 12px;
position: absolute;
right: 15px;
-moz-box-sizing: border-box;
top: 13px;
padding-top: 8px;
}


/*Floatin button
_______________
*/





/*video*/
video#bgvid {
    /*position: fixed;*/
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    /*width: auto;
    height: auto;*/
    z-index: -10;
    /*-ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);*/
    /*background: url(http://science-all.com/images/landscape/landscape-04.jpg) no-repeat;*/
    background-size: cover;
    transition: 1s opacity;
}
/*video#bgvid {
    transition: 1s opacity;
}*/
.stopfade {
  opacity: .5;

}
@media screen and (max-device-width: 800px) {
    /*html {
         background: url(http://science-all.com/images/landscape/landscape-04.jpg) #000 no-repeat center center fixed;
    }*/
    #bgvid {
        display: none;
    }
}
#team, #gallery {
  background-color: #fff;
}


.mob-slider .indicators .indicator-item.active {
    background-color: #69963F;
}


#vidpause {
  background-color: transparent;
      color: #000;
      position: absolute;
      right: 100px;
      top: 150px;
      /* z-index: 99; */
      opacity: 0.3;
      width: 40px;
      height: 40px;
      line-height: 41px;
}
#vidpause:hover {
  opacity: 1;
  font-weight: 400;
}


@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic|Oswald:400,700);

.delta {
  font-size: 1.3333333333333333rem; /* 24 / 18 = 1.3333 */
  margin-bottom: 1.2375rem;
}
.giga {
  font-size: 5rem; /* 90 / 18 = 5 */
  margin-bottom: 0.33rem;
}
.oswald{font-family: 'Oswald'}
.bree-serif{font-family: 'Bree Serif'}
.regular{font-weight: 400;}
.uppercase{text-transform: uppercase;}
.ls-large{letter-spacing: 8px;}


.Playful h1 {
  line-height: 1;
  margin-top: 0;
  color: #fff;
	display: inline-block;
	position: relative;
  text-shadow: 2px 2px 3px #000000;
}
.Playful p{
  margin-top: 4rem;
      color: #fff;
      font-size: 1.6rem;
      line-height: 2;
text-shadow: -2px 0px 2px rgba(150, 150, 150, 0.9);
}

.double-header-line:before, .double-header-line:after{
	content: "";
	display: block;
	position: absolute;
	width:7rem;
	background-color: transparent;
	height: 4px;
	border-top: 1px solid #fff;
	border-bottom:1px solid #fff;
	top: 50%;
	margin-bottom: -4px;
}
.double-header-line:before{
	left: -7.5rem;
}
.double-header-line:after{
	right: -7.5rem;
}

.wrapper-text{

	max-width: 53.33rem;
	margin: 0 auto;
	position: absolute;
	z-index: 10;
	/*transform: translateY(-310%);*/
	top:30%;
  left: 25%;
	text-align: center;
}

.about-best {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}
.about-heading {
  font-size: 1.34rem;
  font-weight: 400;
}

/*.contest-section {
    margin-top: 14.5rem;
}*/
/*.mob-slider .slides li {
  height: 520px;
}
.mob-slider {

}*/

nav ul a {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 1.2rem;
    color: #7F7F7F;
    letter-spacing: 2px;
    display: block;
    font-weight: 350;
    padding: 0px 15px;
    display: inline-block;
    height: 77px;
    line-height: 80px;
    letter-spacing: -.25px;
    margin: 0;
    opacity: .75;
    text-decoration: none;
    text-transform: uppercase;
    /*white-space: pre;*/
}

.navigation-ul li a:hover {
  color: #444 ;
  font-weight: 420;
  opacity: 1;
}


.navigation-ul li:hover,
.navigation-ul li:active,
.navigation-ul li:focus  {
    background-color: #f5f5f5;
    /*background-color: #fff;*/
    opacity: 1;
}
.navigation-ul a:active,
.navigation-ul a:focus {
  color: #444;
    font-weight: 420;
    opacity: 1;
    border-bottom: 4px solid #69963F;
    transition: all .10s ease-in-out;
}

#lang-button {
    display: inline-block;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 32px;
    height: 24px;
    line-height: 18px;
    padding: 0;
    background-color: #transparent;
    border-radius: 0;
    transition: .3s;
    cursor: pointer;
    vertical-align: middle;
    margin-right: 10px;
    margin-left: 5px;
    margin-top: 7px;
    /*opacity: 0.5;*/
}
#lang-button:active,
#lang-button:focus {
  border-bottom: none;
}
#lang-button:hover {
  opacity: 1;
}
.nav-fixed {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  margin-bottom: 0px;
  z-index: 997;
}

.preloader-background {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #eee;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
